//Creando mixin
@mixin btn-sm-modify{
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

@mixin btn-base{
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
}
//Guardamos en una variable el color principal
$color-main: #0075ff;
//Creamos nusteros botones 
.btn-main{
    @include btn-base();
    background-color: $color-main;
    color: white;
   
    border: solid 1px $color-main;
    &:hover{
        background-color: white;
        color: $color-main;
        
    }
    &-s{
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec{
    @include btn-base(); 
    background-color: transparent;
    color: black;
    border: none;
    &:hover{
        color: #888;
    }
    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }

}

//Creamos el componente main-menu
.main-menu{
    margin-bottom: 0;
    li{
        font-size: 1rem;
        padding: 0 10px;
        font-style: none;
        display: inline;
        a{
            text-decoration: none;
            color: black;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

// Componente
.icon-sm{
    // Usamos este border para que nos muestre como esta 
    //border: 1px solid black;
    font-size: 1.25rem;
    padding: 0.2rem 0.35rem;
    border-radius: 50%;
    color: $color-main;
    //Sombras 0 en x, 0 en y 
    box-shadow: 0 0 10px black;
}

// Componente 
.feature{
    display: flex;
    flex-direction: column;

    .icon{
        color: $color-main;
        font-size: 10rem;
        text-align: center;
    }
    .description{
        .title{
            font-size: 2rem;
            text-align: center;
        }
        .text{
            color: black;
            font-weight: 600;
            text-align: center;
        }
    }
    .cta{
        margin-top: 3rem;
        color: $color-main;
        font-weight: 600;
        text-align: center;
    }
}
//elemento icon-desc
.icon-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon{
        color: $color-main;
        font-size: 10rem;
        padding: 0;
    }
    .title{
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -2rem;
    }
}